div{
    background-color: red;
    background-image: linear-gradient(red,yellow);
    width: 50%;
    height: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    border: solid yellow 10px;
}
p{
    color: white;
    font-size: 250%;
    margin: auto;
    text-align: center;
    font-weight: bold;
}